/* Other styles or customizations */
.custom-font {
  font-family: "Times New Roman", Times, serif;
  font-size: 4rem;
}

.segment {
  padding: 50px 0px;
}

.images {
  width: 10rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lists {
  flex: 1; /* Distribute available space equally */
  margin: 5px; /* Equal margin on all sides of each li */
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Ensure padding is included in width */
  border-radius: 5px;
  width: 15rem;
  font-size: 0.7em;
}
