.intro-neup {
    width: 30px;
    height: 40px;
    border-radius: 13px;
    background: #e0e0e0;
    box-shadow:  8px 8px 15px #bebebe,
                -8px -8px 15px #ffffff;
}

/* In your CSS or Tailwind CSS configuration */
.leading-extra {
    line-height: 20px; /* Adjust the value to set your desired line height */
  }
  